.form {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  padding: 30px;
  background-color: rgb(240, 240, 240);
}

.input-1 {
  text-indent: 20px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  height: 40px;
  width: 500px;
  border: 1px solid rgb(209, 205, 205);
}

.input-2 {
  text-indent: 20px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  height: 40px;
  width: 500px;
  border: 1px solid rgb(209, 205, 205);
  margin-left: 50px;
  margin-right: 50px;
}

.input-submit {
  width: 180px;
  height: 40px;
  border-radius: 3px;
  background-color: rgb(2, 144, 255);
  font-family: 'RobotoSlab', sans-serif;
  font-size: 1.213rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgb(255, 255, 255);
  border: rgb(2, 144, 255);
  cursor: pointer;
  margin-left: 50px;
}

.line {
  width: 90%;
  margin-left: 4rem;
  height: 2px;
  margin-top: 1rem;
  background-color: #e8e8e8;
  border: solid 50px var(--white);
}

.add-book {
  width: 100%;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: -3rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(18, 18, 18);
}
