.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.btn {
  width: 180px;
  height: 40px;
  border-radius: 3px;
  background-color: rgb(2, 144, 255);
  font-family: 'RobotoSlab', sans-serif;
  font-size: 1.213rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgb(255, 255, 255);
  border: rgb(2, 144, 255);
  cursor: pointer;
}
